* {
  box-sizing: border-box;
}

.App {
  font-size: 20px;
}

.App-header {
  /*background-color: #2a87d0;*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;
  color: #222;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
}

.App-header h2 {
  font-weight: lighter;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.App-intro {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.locations-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 70%;
}
.locations-header {
  flex: 0 1 100%;
  text-align: center;
}

.location-container {
  border-radius: 3px;
  flex: 0 1 100%;
  margin: 10px;
  padding: 10px;
  position: relative;
}
.location-container svg {
  position: absolute;
  right: 10px;
}
.location-container .forecast-period {
  margin-top: 10px;
}
.location-container .forecast-period img {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
.location-forecast {
  margin: 10px 0 0 20px;
}
.location-map {
  margin: 0 10px;
}

.lefty {
  padding: 1em 0 0 0;
  text-align: left;
}

.loading {
  margin: 7.5px 0;
  position: absolute;
}

.rotate {
  stroke: #000;
  stroke-width: 2;
  animation: rotating 2s ease-in-out infinite;
  transform-origin: 25px 25px;
}
@keyframes rotating {
  from { transform: rotate(0deg) }
  to   { transform: rotate(360deg) }
}

.location-container > div:nth-child(2) {
  width: calc(100% - 9em);
}
.location-container > div.react-datepicker__input-container {
  width: 7em;
}

input[type="text"] {
  font-size: 20px;
  padding: 10px 10px 2px 10px;
  margin: 10px 10px 0 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 95%;
}

input[type="text"].missing {
  border: 1px solid #ff8585;
}

.locations-container > button {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  margin: 10px;
  flex: 1 1 44.25%;
}
.locations-container > button:hover {
  background: #eee;
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
  transition: box-shadow .3s ease-in-out;
}
.shadow:hover {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
}

@media (max-width: 800px) { 
  .locations-container {
    max-width: 80%;
    width: 80%;
  }
}

@media (max-width: 400px) { 
  .locations-container {
    margin: 1% auto;
    max-width: 98%;
    width: 98%;
  }
  .location-container > div.location-search,
  .location-container > div.react-datepicker__input-container {
    display: block;
    width: 100%;
  }
  .loading {
    position: static;
  }
}
