body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.locations-container {
  display: flex;
  margin: 0 auto;
  max-width: 25em;
  width: 50%;
}

.lefty {
  padding: 1em 0 0 0;
  text-align: left;
}

.rotate {
  stroke: #000;
  stroke-width: 2;
  animation: rotating 2s ease-in-out infinite;
  transform-origin: 25px 25px;
}
@keyframes rotating {
  from { transform: rotate(0deg) }
  to   { transform: rotate(360deg) }
}